[submodule "nvbitfi"]
	path = nvbitfi
	url = https://github.com/NVlabs/nvbitfi.git
[submodule "radiation-benchmarks"]
	path = radiation-benchmarks
	url = https://github.com/UFRGS-CAROL/radiation-benchmarks.git
